body {
  font-family: Arial;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  background-color: white;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.titulop {
  background: #fff9c4;
  color: #ff9800;
  border-radius: 8px;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.svgtitu {
  width: 30px;
  height: 30px;
  stroke: #ff9800;
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: #fff9c4;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.menu a {
  display: block;
  background: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  border: 2px solid;
}

.menu a:hover {
  border-color: yellow;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1000px;
  margin-bottom: 10px;
}

.noticias {
  display: grid;
  gap: 20px;
  padding: 20px 30px;
  background-color: #fff9c4;
  border-radius: 8px;
}

.noticiastt {
  display: grid;
  background-color: #ffc107;
  gap: 30px;
  padding: 30px 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.noticiastt svg {
  width: 30px;
  height: 40px;
  stroke: yellow;
  margin-right: 15px;
}

.artigo {
  gap: 15px;
  display: grid;
  justify-content: center;
  background: #ffb300;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.botao {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #fff9c4;
  color: black;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.artigo a:hover {
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.dicas {
  padding: 20px;
  background-color: #fff9c4;
  border-radius: 8px;
}

.dicastt {
  display: grid;
  background: #ffc107;
  padding: 10px;
  justify-content: center;
  margin: 30px 40px;
  gap: 10px;
  border-radius: 8px;
}
h1 svg {
  width: 30px;
  height: 30px;
  stroke: yellow;
  margin-right: 10px;
}

.dica {
  display: grid;
  background: #ffb300;
  margin-bottom: 20px;
  padding: 10px;
  gap: 5px;
  border-radius: 8px;
}
.dica p {
  display: grid;
  justify-content: center;
}

a svg {
  width: 20px;
  height: 15px;
  stroke: black;
}

.rodape {
  background: #ffffff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
